<div class="jumbotron mt-0">
    <div class="container" style="text-align: center;">
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <h3 class="title_section">Pega Baisics</h3>
                            <p>Learn the basics of PEGA, with clear, step-by-step instructions by a highly rated
                                teacher.</p>
                            <p>
                                <img src="/img/icons/star-icon.png">
                                <img src="/img/icons/star-icon.png">
                                <img src="/img/icons/star-icon.png">
                                <img src="/img/icons/star-icon.png">
                                <img src="/img/icons/star-icon.png">
                                (9.0 ranking) 28 students
                            </p>
                            <p>Created by: Administrator</p>
                            <p>Date of last update: 6/2020</p>
                        </td>
                        <td style="text-align: left;">
                            <div class="card" style="width: 18rem;">
                                <a href="/course/details" title="View details">
                                    <img src="/img/courses/pega.png" width="250" height="140" class="card-img-top"
                                        alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">PEGA Basics</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%;"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                    </div><br>
                                    <div style="text-align: right;">
                                        <a href="/course/start" class="btn btn-success">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section><br>

        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;" colspan="2">
                            <h3 class="title_section">What you will learn?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <img src="/img/icons/tick-icon.png"> Create backend server<br>
                            <img src="/img/icons/tick-icon.png"> Create REST services<br>
                            <img src="/img/icons/tick-icon.png"> Upload and manage files on the server<br>
                            <img src="/img/icons/tick-icon.png"> Json web tokens
                        </td>
                        <td style="text-align: left;">
                            <img src="/img/icons/tick-icon.png"> Deployments in Heroku<br>
                            <img src="/img/icons/tick-icon.png"> Github and Git deployments<br>
                            <img src="/img/icons/tick-icon.png"> Create applications using sockets<br>
                            <img src="/img/icons/tick-icon.png"> Learn AND reinforce your knowledge of Node
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>