<div class="jumbotron mt-1">
    <div class="container" style="text-align: center;">
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;" colspan="3">
                            <h3 class="title_section">AT Path Careers</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>