<div class="jumbotron mt-1">
    <div class="container" style="text-align: center;">

        <!-- My Skills -->
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <div class="container">
                                <h3 class="title_section">My Skills</h3>
                                <span class="badge badge-pill badge-primary">Node JS</span>
                                <span class="badge badge-pill badge-primary">J2EE</span>
                                <span class="badge badge-pill badge-primary">spring-boot</span>
                                <span class="badge badge-pill badge-primary">Microservices</span><br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section><br>
        <!-- My Skills -->

        <!-- AT PATH CAREERS -->
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <div class="container">
                                <h3 class="title_section">AT Path Careers</h3>
                                <div class="row my-2">
                                    <div class="col-md-4 py-1">
                                        <div class="card">
                                            <div class="card-body">
                                                <a href="/at-university/careers/details" title="View details">
                                                    <img src="/img/careers/pega-architect.png" width="200"
                                                        title="PEGA Bussiness Architect">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <div class="card">
                                            <div class="card-body">
                                                <a href="/at-university/careers/details" title="View details">
                                                    <img src="/img/careers/java.jpg" width="200" title="Java Academy">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 py-1">
                                        <div class="card">
                                            <div class="card-body">
                                                <a href="/at-university/careers/details" title="View details">
                                                    <img src="/img/careers/lead.png" width="200" title="Technical Lead">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section><br>
        <!-- AT PATH CAREERS -->

        <!-- MY TRAININGS -->
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <h3 class="title_section">My Trainings</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <p><a href="/at-university/courses/details" title="View details">React JS</a></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <p><a href="/at-university/courses/details" title="View details">PEGA Basics</a></p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%;"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section><br>
        <!-- MY TRAININGS -->

        <!-- COURSE SEARCH -->
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <h3 class="title_section">Search
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z">
                                    </path>
                                </svg>
                            </h3>
                            <input class="form-control" type="text" placeholder="What are we learning today?"
                                aria-label="Search">
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <!-- COURSES SEARCH -->

        <!-- COURSES RESULTS -->
        <section class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left;">
                            <div class="container">
                                <div class="row my-2">
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <a href="/at-university/courses/details" title="View details">
                                                <img src="/img/courses/git.jpg" width="250" height="140"
                                                    class="card-img-top">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Started with Git</h5>
                                                <p class="card-text">Learn the basics of Git and GitHub, with clear,
                                                    step-by-step instructions by a highly rated teacher.</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                                                    </div>
                                                </div><br>
                                                <div style="text-align: right;">
                                                    <a href="/at-university/courses/start"
                                                        class="btn btn-primary">Start</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <a href="/at-university/courses/details" title="View details">
                                                <img src="/img/courses/react.jpg" width="250" height="140"
                                                    class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">React JS</h5>
                                                <p class="card-text">Learn the basics of React JS, with clear,
                                                    step-by-step instructions by a highly rated teacher.</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                                                    </div>
                                                </div><br>
                                                <div style="text-align: right;">
                                                    <a href="/at-university/courses/start"
                                                        class="btn btn-success">Continue</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <a href="/at-university/courses/details" title="View details">
                                                <img src="/img/courses/pega.png" width="250" height="140"
                                                    class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">PEGA Basics</h5>
                                                <p class="card-text">Learn the basics of PEGA, with clear, step-by-step
                                                    instructions by a highly rated teacher.</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                        50%
                                                    </div>
                                                </div><br>
                                                <div style="text-align: right;">
                                                    <a href="/at-university/courses/start"
                                                        class="btn btn-success">Continue</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <a href="/at-university/courses/details" title="View details">
                                                <img src="/img/courses/apache-kafka.jpg" width="250" height="140"
                                                    class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Apache Kafka</h5>
                                                <p class="card-text">Learn the basics of Apache Kafka, with clear,
                                                    step-by-step instructions by a highly rated teacher.</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                                                    </div>
                                                </div><br>
                                                <div style="text-align: right;">
                                                    <a href="/at-university/courses/start"
                                                        class="btn btn-primary">Start</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <a href="/at-university/courses/details" title="View details">
                                                <img src="/img/courses/node.jpg" width="250" height="140"
                                                    class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">Node JS</h5>
                                                <p class="card-text">Learn the basics of Node JS, with clear,
                                                    step-by-step instructions by a highly rated teacher.</p>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;"
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                                                    </div>
                                                </div><br>
                                                <div style="text-align: right;">
                                                    <a href="/at-university/courses/start"
                                                        class="btn btn-success">Continue</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <!-- COURSES PAGINATION -->
        <section class="card">
            <div class="card-body">
                <div class="container" style="text-align: center;">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </section>
        <!-- COURSES PAGINATION -->
        <!-- COURSES RESULTS -->
    </div>
</div>