<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card header">
            <h3>Admin User</h3>
                <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
                   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"> 
                <!-- FONT AWESOME -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                    crossorigin="anonymous">
                <!-- CUSTOM CSS -->
                <link rel="stylesheet" href="/css/main.css">
        </div>
        <div class="card-body">
            <form action="#" method="POST">
                <button class="btn btn-primary btn-block">
                    Users
                </button>
            </form>
            <form action="/course" method="POST">
                <button class="btn btn-primary btn-block">
                    Course
                </button>
            </form>
        </div>
    </div>
</div>